
.topology {
	text-align:  center;
	padding:     0.5em 1em;
	font-family: sans-serif;
	font-size:   small;
	line-height: 1.2em;
	background:  #fff;
	overflow:    auto;
	white-space: nowrap;
}

.topology-wrapper {
	text-align: right;
	position:   relative;
	display:    inline-block;
}

/* Element */

.topology-element {
	display:       inline-block;
	border:        1px solid #eee;
	border-radius: 0.5em;
	overflow:      hidden;
	margin:        0.5em 0;
	box-shadow:    0 0 0.3em rgba(0, 0, 0, 0.3);
}

.topology-link {
	position:       relative;
	display:        inline-block;
	border-bottom:  1px solid #333;
	bottom:         3em;
	font-size:      smaller;
	padding:        0 0.5em;
	vertical-align: bottom;
}

.topology-link-up {
	position:     absolute;
	right:        0;
	top:          0;
	bottom:       3em;
	width:        1em;
	border-right: 1px solid #333;
	font-size:    smaller;
}

.topology-link-down {
	position:     absolute;
	right:        0;
	bottom:       0;
	height:       3em;
	width:        1em;
	border-right: 1px solid #333;
	font-size:    smaller;
}

.topology-default {
	border-color: #bbb;
}

.topology-primary {
	border-color: #79b;
}

.topology-warning {
	border-color: #a97;
}

.topology-success {
	border-color: #9b9;
}

.topology-alert {
	border-color: #b88;
}

.topology-label {
	margin-right: 0.35em;
	padding:      0 0.35em;
	float:        left;
	background:   #888;
	color:        #fff;
	text-shadow:  0 1px 1px rgba(0, 0, 0, 0.5);
}

.topology-badge {
	margin-left:   0.35em;
	padding:       0 0.35em;
	float:         right;
	font-weight:   normal;
	background:    #555;
	color:         #fff;
	border-radius: 1em;
	box-shadow:    inset 0 0 1px #000;
}

/* Header */

.topology-header {
	border-bottom: 1px solid #eee;
	padding:       0 0.5em;
	background:    #ddd;
	min-width:     4em;
	min-height:    1em;
	text-align:    center;
	font-size:     small;
	font-weight:   bold;
	color:         #555;
	overflow:      hidden;
}

.topology-default .topology-header {
	border-color: #ccc;
	background:   linear-gradient(#eee, #bbb);
}

.topology-primary .topology-header {
	border-color: #8ac;
	background:   #9bd;
	background:   linear-gradient(#acf, #8ac);
	color:        #356;
}

.topology-success .topology-header {
	border-color: #aca;
	background:   #aca;
	background:   linear-gradient(#cec, #9b9);
	color:        #262;
}

.topology-warning .topology-header {
	border-color: #ba8;
	background:   #dca;
	background:   linear-gradient(#edb, #cb9);
	color:        #652;
}

.topology-alert .topology-header {
	border-color: #b88;
	background:   #daa;
	background:   linear-gradient(#ebb, #c99);
	color:        #522;
}

.topology-primary .topology-header .topology-badge {
	background: #467;
}

.topology-success .topology-header .topology-badge {
	background: #373;
}

.topology-warning .topology-header .topology-badge {
	background: #761;
}

.topology-alert .topology-header .topology-badge {
	background: #633;
}

.topology-default .topology-header .topology-label {
	background: linear-gradient(#bbb, #666);
}

.topology-primary .topology-header .topology-label {
	background: #79b;
	background: linear-gradient(#9bd, #468);
}

.topology-success .topology-header .topology-label {
	background: #8a8;
	background: linear-gradient(#aca, #686);
}

.topology-warning .topology-header .topology-label {
	background: #ba8;
	background: linear-gradient(#cb9, #975);
}

.topology-alert .topology-header .topology-label {
	background: #b88;
	background: linear-gradient(#d99, #955);
}

/* Footer */

.topology-footer {
	border-top: 1px solid #eee;
	background: #ddd;
	min-width:  4em;
	height:     0.25em;
	text-align: left;
}

.topology-default .topology-footer {
	border-color: #ccc;
}

.topology-primary .topology-footer {
	border-color: #8ac;
	background:   #9bd;
}

.topology-success .topology-footer {
	border-color: #aca;
	background:   #bdb;
}

.topology-warning .topology-footer {
	border-color: #ba8;
	background:   #dca;
}

.topology-alert .topology-footer {
	border-color: #c99;
	background:   #daa;
}

/* Body */

.topology-body {
	padding:    0.35em;
	min-height: 2em;
	max-height: 12.25em;
	font-size:  smaller;
	overflow:   hidden;
	transition: height 2s;
}

.topology-element:hover .topology-body {
	max-height: none;
}

.topology-props {
	width:           100%;
	padding:         0;
	margin:          0;
	font-size:       smaller;
	border-collapse: collapse;
}

.topology-props tr>td:first-child {
	padding-right: 1em;
	color:         #36b;
	text-align:    left;
}

.topology-props tr>td:last-child {
	text-align: right;
}