.zDumpContainer {
	font-family: Helvetica, Arial, sans-serif;
	font-size:   90%;
	color:       #000;
	background:  #fff;
	border:      2px solid #c00;
	margin:      0.25em;
	padding:     0.25em;
	overflow-x:  auto;
}

.zDumpComment {
	color:   #358;
	opacity: 0.6;
}

.zDumpInteger {
	color: #e00;
}

.zDumpString {
	color: #080;
}

.zDumpKeyword {
	color:       #804;
	font-weight: bold;
}

.zDumpVariable {
	color: #059;
}

.zDumpClass {
	color: #04c;
}

.zDumpTitle {
	margin-top:       0.33em;
	padding:          0.1em 0.4em;
	background-color: #e0e3ec;
}

.zDumpEncoding {
	color:      #c50;
	font-style: italic;
}

.zDumpBoolean {
	color: #808;
}

.zDumpBlock {
	padding:     0.2em 0.4em 0.1em;
	border-left: 3px solid #e0e3ec;
}

.zDumpArrayTable {
	width:           100%;
	border-collapse: collapse;
	font-size:       small;
	border-left:     3px solid #e0e3ec;
}

.zDumpArrayTable td {
	vertical-align: top;
	padding:        0.25em 0.35em;
}

.zDumpArrayTable > tbody > tr {
	border-top: 1px #ddd dashed;
}

.zDumpArrayTable  > tbody > tr:first-child {
	border-top: none;
}

.zDumpCodeTable {
	width:           100%;
	border-collapse: collapse;
	font-family:     monospace;
	font-size:       medium;
	border-left:     3px solid #e0e3ec;
}

.zDumpCodeTable td {
	vertical-align: top;
	padding:        0.2em 0.5em;
}

.zDumpLineError {
	background: #f9f6dd;
}

.zDumpCodeTable td:first-child {
	background-color: #f4f4fc;
	text-align:       right;
	color:            #567;
}

.zDumpLineError td:first-child {
	color: #e00;
}