<?xml version="1.0" encoding="UTF-8"?>
<container>
	<includes>
		<include load="acl.xml" />
		<include>config.xml</include>
	</includes>
	
	<parameters>
		<parameter name="param1" value="1000" />
		<parameter name="param2" type="service" id="cache" />
		<parameter name="param3">qwerty</parameter>
	</parameters>
	
	<services>
		<service id="service" class="TestClass" />
		
		<service id="serviceFactory" class="TestClass" factory="true" />
		
		<service id="serviceArgBoolean" class="TestClass">
			<arguments>
				<argument type="boolean">true</argument>
				<argument type="boolean" value="false" />
			</arguments>
		</service>
		
		<service id="serviceArgInteger" class="TestClass">
			<arguments>
				<argument>65535</argument>
				<argument value="255" />
			</arguments>
		</service>
		
		<service id="serviceArgString" class="TestClass">
			<arguments>
				<argument>qwerty</argument>
				<argument value="asdfgh" />
			</arguments>
		</service>
		
		<service id="serviceArgNull" class="TestClass">
			<arguments>
				<argument type="null" />
				<argument type="null" />
			</arguments>
		</service>
		
		<service id="serviceArgArray" class="TestClass">
			<arguments>
				<argument type="array">
					<element value="2" />
					<element value="4" />
					<element value="8" />
				</argument>
				
				<argument type="array">
					<element key="x" value="2" />
					<element key="y" value="4" />
				</argument>
				
				<argument type="array">
					<element>3</element>
					<element>6</element>
					<element>9</element>
				</argument>
				
				<argument type="array">
					<element key="a">3</element>
					<element key="b">6</element>
				</argument>
			</arguments>
		</service>
		
		<service id="serviceArgArrayRecursive" class="TestClass">
			<arguments>
				<argument type="array">
					<element type="array">
						<element value="2" />
						<element value="4" />
						<element value="8" />
					</element>
				</argument>
			</arguments>
		</service>
		
		<service id="serviceArgService" class="TestClass">
			<arguments>
				<argument type="service" id="service1" />
				<argument type="service" id="service2" />
			</arguments>
		</service>
		
		<service id="serviceArgArrayService" class="TestClass">
			<arguments>
				<argument type="array">
					<element type="service" id="service1" />
					<element type="service" id="service2" />
				</argument>
			</arguments>
		</service>
		
		<service id="serviceArgServiceWithArgs" class="TestClass">
			<arguments>
				<argument type="service" id="service">
					<arguments>
						<argument value="255" />
						<argument value="qwerty" />
					</arguments>
				</argument>
			</arguments>
		</service>
		
		<service id="serviceArgArrayServiceWithArgs" class="TestClass">
			<arguments>
				<argument type="array">
					<element type="service" id="service1">
						<arguments>
							<argument>255</argument>
							<argument value="qwerty" />
						</arguments>
					</element>
				</argument>
			</arguments>
		</service>
	</services>
	
	<services namespace="Library">
		<service id="serviceNamespace" class="TestClass" />
	</services>
	
	<initializers>
		<initializer id="forms" namespace="Forms" />
		<initializer id="tags" namespace="Tags" factory="true" />
		
		<initializer id="models" namespace="Models">
			<arguments>
				<argument type="service" id="adapter" />
				<argument value="qwerty" />
			</arguments>
		</initializer>
		
		<initializer id="app" class="AppInitializer" />
	</initializers>
</container>